@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&family=Outfit&family=Poppins&display=swap");
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #24292f;
  color: #fff;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}
.App {
  margin-top: 5rem;
  width: 600px;
  position: relative;
}
